h1{
    color: red;
}
h2{
    color: red;
}

hr{
    color: green;

}
.headerMain{
    display: flex;
 
}
.headerTitle{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
h1{
   margin-bottom: 0px;
}
p{
    margin-top: 0px;
}
